@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.input {
  width: 100%;
  border: 1px solid #d4d4d8;
  border-radius: 0.5rem;
  padding: 0.65rem 0.9rem;
  outline: none;
}

.input:focus {
  border-color: #059669;
}
